@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Open Sans', sans-serif; */

  background: url(./Images/nb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  outline: none;
  background-color: transparent;
  border: none;
}

input::placeholder {
  color: white;
}

.homebg {
  background: url(./Images/abb.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.macksonMusic {
  font-family: "Shadows Into Light", cursive;
}

.nbFont {
  font-family: "Open Sans", sans-serif;
}
